.idea/
nbproject/
composer.phar
composer.lock
.DS_STORE
cache.properties
.php_cs.cache
.vscode
.phpunit.result.cache
.phpunit.cache/
phpunit.xml.bak
package-lock.json

vendor/
build/
node_modules/

.env
public/.env

env.php
config/env.php

!tmp/
tmp/*
!tmp/.htaccess


